<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player01</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{176,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player02</key>
            <dict>
                <key>frame</key>
                <string>{{240,390},{96,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player03</key>
            <dict>
                <key>frame</key>
                <string>{{425,390},{126,125}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player04</key>
            <dict>
                <key>frame</key>
                <string>{{625,390},{96,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>player05</key>
            <dict>
                <key>frame</key>
                <string>{{0,260},{176,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
        </dict>
    </dict>
</plist>
